@import url('https://fonts.googleapis.com/css2?family=Short+Stack&display=swap');

body {
    font-family: 'Short Stack', cursive;
    margin: 25px;
    text-align: center;
}

.flex-center {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

.spaceOut {
    margin-left: 25px;
    margin-right: 25px;
}

.two_column{
    float: left;
    margin:0;
    width:50%;
    text-align: left;
}