body {
    background-color: #adadad;
    color: black;
    font-family: verdana;
    font-size: 20px;
}
p {
    font-family: verdana;
    font-size: 20px;
    color:red
}

aside {
    display: block;
}

#para1 {
    text-align: right;
    color: black;
}

#top_text{
    text-align: center
}