
body {
    line-height:1.4;
    margin: 25px;
    font-size: 18px;
    text-align: center;
}

.flex_center {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

.spaceOut {
    margin-left: 25px;
    margin-right: 25px;
}

.two_column {
    float: left;
    margin:0;
    width:50%;
    text-align: left;
}

.two_column_imbalanced1 {
    float: left;
    margin:0;
    width:70%;
    text-align: left;
}

.two_column_imbalanced2 {
    float: left;
    margin:0;
    width:30%;
    text-align: center;
}

.main_title {
    font-size: 50px;
}