<div class="terminal">
    <div class="terminal-internal terminal-styling">
        <div class="official-message-box">
            <div>
                <div class="welcome-message">
                    Welcome to the website of Bram van Wersch. From here you can find all sorts of things about my work, but only if you look hard enough.
                </div>
                <div>
                    > SSH session to anomymous&#64;web
                </div>
                <ul>
                    <li>
                        SSH compression: <span class="good">V</span>
                    </li>
                    <li>
                        SSH-browser: <span class="good">V</span>
                    </li>
                    <li>
                        X11-forwarding: <span class="error">X</span>
                    </li>
                </ul>
            </div>
        </div>
        <app-terminal-line *ngFor="let line of lines" [line]="line">
        </app-terminal-line>
        <app-active-terminal-line (terminalCommandEvent)="run_command($event)" (terminalMessageEvent)="add_message($event)">
        </app-active-terminal-line>
    </div>
</div>